<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1jLT3ulTn-jdSg12aQsckidvQPC_9J7c</string>
	<key>GCM_SENDER_ID</key>
	<string>71605210815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.activityBeddiaf.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>activities-amal</string>
	<key>STORAGE_BUCKET</key>
	<string>activities-amal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:71605210815:ios:22e5e69606b826623bc00a</string>
</dict>
</plist>